{% extends 'base.html' %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profissionais_relacionamento.css' %}">
{% endblock %}
{% block titulo %}
    Profissionais em Relacionamento - FINDB
{% endblock %}

{% block container %} 

    <main class="container">
        <div>
            {% if page_obj %}
                <h1>
                    Profissionais de Relacionamento ({{qtd}})
                </h1>

                <div class="profissionais">
                    {% for profissional in page_obj %}
                        <div class="profissional">
                            {% if profissional.bucket_name_foto and profissional.object_name_foto %}
                                <a href="https://pub-a82751e5df824f8196cb1b5716f3484f.r2.dev/{perfil.object_name_foto}">  
                                    <img src="https://pub-a82751e5df824f8196cb1b5716f3484f.r2.dev/{perfil.object_name_foto}" alt="{{profissional.nome}} - FINDB">               
                                </a>
                            {% else %}
                                <img src="{% static 'images/foto_user.png' %}" alt="{{profissional.nome}} - FINDB">
                            {% endif %}
                            <h3>
                                {{profissional.nome}}
                            </h3>
                            <h4>
                                € {{profissional.preco}}
                            </h4>
                            <p>
                                <strong>
                                    Atendimento:
                                </strong>
                                {% if profissional.atendimento == 'Ambos' %}
                                    Presencial e Online
                                {% else %}
                                    {{profissional.atendimento}}
                                {% endif %}
                            </p>
                            <p>
                                <strong>
                                    Qualificação:
                                </strong>
                                {{profissional.categoria}}
                            </p>
    
                            <div class="botoes">
                                {% if profissional.slug %}
                                    <a href="{% url 'profissional' profissional.slug %}">
                                        Ver mais
                                    </a>
                                {% endif %}
                                {% if profissional.link %}
                                    <a href="{{profissional.link}}">
                                        Marcar consulta
                                    </a>
                                {% endif %}
                            </div>
                            
                        </div>
                    {% endfor %}
                    {% include 'parciais/_pagination_evento.html' %}
                </div>
            {% else %}
                <h1>
                    Nenhum profissional disponível no momento
                </h1>
            {% endif %}
            
        </div>
    </main>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/cupidos.js' %}"></script>
{% endblock %}
