{% extends 'base.html' %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profissional.css' %}">
{% endblock %}
{% block titulo %}
    Profissional - FINDB
{% endblock %}

{% block container %} 

    <main class="container">
        <div>
            {% if profissional %}      
                <section class="profissional">
                    <div class="coluna1">
                        {% if profissional.video %}
                            <video controls>
                                <source src="https://pub-56927102316e484fa7eb2ab48f073846.r2.dev/{{profissional.object_name_video}}">
                                Seu navegador não suporta a tag de vídeo.
                            </video>
                        {% endif %}
                        <div class="metricas">
                            <div>
                                <img src="{% static 'images/verificacao.png' %}" alt="Profissionais em Relacionamentos - Métricas">
                                <h2>
                                    Terapeuta <br>
                                    Comprovado
                                </h2>
                            </div>
                            <div>
                                <img src="{% static 'images/grafico.png' %}" alt="Profissionais em Relacionamentos - Métricas">
                                <h2>
                                    {{profissional.sessions}} 
                                    {% if profissional.sessions == 1 %}
                                        Sessão na <br>
                                        Plataforma
                                    {% else %}
                                        Sessões na <br>
                                        Plataforma
                                    {% endif %}
                                </h2>
                            </div>
                            <div>
                                <img src="{% static 'images/like.png' %}" alt="Profissionais em Relacionamentos - Métricas">
                                <h2>
                                    {{profissional.rating}} 
                                    {% if profissional.sessions == 1 %}
                                        Avaliação na <br>
                                        Plataforma
                                    {% else %}
                                        Avaliações na <br>
                                        Plataforma
                                    {% endif %}
                                </h2>
                            </div>
                        </div>
                        <div class="informacoes-gerais">
                            <h3>
                                Informações Gerais
                            </h3>
                            <div>
                                <div>
                                    <p>
                                        <i class="fa-solid fa-globe"></i>
                                        Região: 
                                        <strong>
                                            {{profissional.regiao}}
                                        </strong>
                                    </p>

                                    <p>
                                        <i class="fa-solid fa-globe"></i>
                                        Nacionalidade: 
                                        <strong>
                                            {{profissional.nacionalidade}}
                                        </strong>
                                    </p>

                                    <p>
                                        <i class="fa-solid fa-globe"></i>
                                        País: 
                                        <strong>
                                            {{profissional.pais}}
                                        </strong>
                                    </p>

                                    {% if profissional.endereco %}
                                        <p>
                                            <i class="fa-solid fa-location-dot"></i>
                                            Endereço: 
                                            <strong>
                                                {{profissional.endereco}}
                                            </strong>
                                        </p>
                                    {% endif %}
                                </div>
                                
                                <div>
                                    <p>
                                        <i class="fa-solid fa-medal"></i>
                                        Qualificação:
                                        <strong>
                                            {{profissional.categoria}}
                                        </strong>
                                    </p>
    
                                    <p>
                                        <i class="fa-solid fa-envelope"></i>
                                        E-mail:
                                        <strong>
                                            {{profissional.usuario.email}}
                                        </strong>
                                    </p>

                                    <p>
                                        <i class="fa-solid fa-user"></i>
                                        Gênero: 
                                        <strong>
                                            {{profissional.genero}}
                                        </strong>
                                    </p>

                                    <p>
                                        <i class="fa-solid fa-address-book"></i>
                                        Rede social: 
                                        <strong>
                                            {{profissional.redes_sociais}}
                                        </strong>
                                    </p>  
                                </div>
                            </div>
                        </div>

                        <div class="descricao">
                            <h3>
                                <i class="fa-solid fa-circle-info"></i>
                                Descrição:
                            </h3>
                            <p>
                                {{profissional.descricao}}
                            </p>
                        </div>

                    </div>
                    <div class="coluna2">
                        {% if profissional.bucket_name_foto and profissional.object_name_foto %}
                            <a href="https://pub-a82751e5df824f8196cb1b5716f3484f.r2.dev/{perfil.object_name_foto}">  
                                <img src="https://pub-a82751e5df824f8196cb1b5716f3484f.r2.dev/{perfil.object_name_foto}" alt="{{profissional.nome}} - FINDB">               
                            </a>
                        {% else %}
                            <img src="{% static 'images/foto_user.png' %}" alt="{{profissional.nome}} - FINDB">
                        {% endif %}
                        <h1>
                            {{profissional.nome}}
                        </h1>
                        <h2>
                            € {{profissional.preco}} / {{profissional.atendimento}}
                        </h2>
                        <a href="{{profissional.link}}" class="btn">
                            Marcar consulta
                        </a>
                    </div>
                </section>

            {% else %}
                <h1>
                    Esse profissional não existe.
                </h1>
            {% endif %}
        </div>
    </main>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/evento.js' %}"></script>
{% endblock %}

