{% extends 'base.html' %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/success_reject.css' %}">
{% endblock %}
{% block titulo %}
    Pedido Confirmado com Sucesso - FINDB
{% endblock %}

{% block container %} 

    <main class="container">
        <div>
            <div class="status">
                <img src="{% static 'images/logo.jpeg' %}" alt="Pedido Aprovado - FINDB">
                <h1>
                    O seu pedido foi 
                    <span style="color: green;">
                        confirmado
                    </span> com sucesso
                </h1>
                <p>
                    Parabéns, agora você pode desfrutar de todas as funcionalidades que o seu plano oferece 💖
                </p>
                
                <a href="{% url 'filtro' %}">
                    Ache a sua pessoa ideal
                </a>
            </div>
        </div>
    </main>

{% endblock %}
