{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" integrity="sha512-cHxvm20nkjOUySu7jdwiUxgGy11vuVPE9YeK89geLMLMMEOcKFyS2i+8wo0FOwyQO/bL8Bvq1KMsqK4bbOsPnA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css" integrity="sha512-L+sMmtHht2t5phORf0xXFdTC0rSlML1XcraLTrABli/0MMMylsJi3XA23ReVQkZ7jLkOEIMicWGItyK4CAt2Xw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css" integrity="sha512-bdTSJB23zykBjGDvyuZUrLhHD0Rfre0jxTd0/jpTbV7sZL8DCth/88aHX0bq2RV8HK3zx5Qj6r2rRU/Otsjk+g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.positus.global/production/resources/robbu/whatsapp-button/whatsapp-button.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alterar_dados.css' %}">
    <link rel="icon" href="{% static 'images/favicon.jpeg' %}">
    <title> FINDB - Login </title>
    <style>
        #google_translate_element{
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000000000;
        }
    </style>
</head>
<body>
    <!-- Google Translate -->
    <div id="google_translate_element"></div> 

    <main class="container">
        <div>
            <div class="titulo">
                <h1>
                    Construindo Relacionamentos saudáveis
                </h1>
            </div>
            <div class="container-loginregistro">
                <div class="loginregistro">
                    <!-- <div id="request-post" style="display: none;" request_post="{{request.POST}}"></div> -->
                    <h2>
                        Alterar dados de {{perfil.nome}}
                    </h2>
                    <p class="info">
                        Escolha quais campos você deseja alterar
                    </p>
                    {% include 'parciais/_messages.html' %}
                    <form action="{% url 'alterar_dados' %}" method="POST" id="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <section class="checkbox">
                            <div>
                                <p>
                                    Mudar o <strong>nome:</strong>
                                    <input type="checkbox" id="checkbox-nome">
                                </p>
                                <input type="text" name="nome" id="nome" placeholder="Nome e último nome">
                            </div>
                            <small id="error_nome"></small>

                            <div>
                                <p>
                                    Mudar o <strong>gênero:</strong>
                                    <input type="checkbox" id="checkbox-genero">
                                </p>
                                <select name="genero" id="genero">
                                    <option disabled selected>Gênero</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outros">Outros</option>
                                </select>
                                <small id="error_genero"></small>
                            </div>

                            <div>
                                <p>
                                    Mudar o <strong>aniversário:</strong>
                                    <input type="checkbox" id="checkbox-data">
                                </p>
                                <input type="text" id="data" name="aniversario" placeholder="Aniversário 00/00/0000" onkeypress="$(this).mask('00/00/0000')">
                            </div>
                            <small id="error_data"></small>

                            <div>
                                <p>
                                    Mudar a <strong>nacionalidade:</strong>
                                    <input type="checkbox" id="checkbox-nacionalidade">
                                </p>
                                <input type="text" id="nacionalidade" name="nacionalidade" 
                                placeholder="Nacionalidade">
                            </div>
                            <small id="error_nacionalidade"></small>

                            <div>
                                <p>
                                    Mudar o <strong>e-mail:</strong>
                                    <input type="checkbox" id="checkbox-email">
                                </p>
                                <input type="email" id="email" name="email" 
                                placeholder="E-mail">
                            </div>
                            <small id="error_email"></small>

                            <div>
                                <p>
                                    Mudar o <strong>pais:</strong>
                                    <input type="checkbox" id="checkbox-pais">
                                </p>
                                <select name="pais" id="pais">
                                    <option disabled selected>País</option>
                                    <option value="Alemanha">Alemanha</option>
                                    <option value="Áustria">Áustria</option>
                                    <option value="Bélgica">Bélgica</option>
                                    <option value="Bulgária">Bulgária</option>
                                    <option value="Chipre">Chipre</option>
                                    <option value="Croácia">Croácia</option>
                                    <option value="Dinamarca">Dinamarca</option>
                                    <option value="Eslováquia">Eslováquia</option>
                                    <option value="Eslovênia">Eslovênia</option>
                                    <option value="Espanha">Espanha</option>
                                    <option value="Estônia">Estônia</option>
                                    <option value="Finlândia">Finlândia</option>
                                    <option value="França">França</option>
                                    <option value="Grécia">Grécia</option>
                                    <option value="Hungria">Hungria</option>
                                    <option value="Irlanda">Irlanda</option>
                                    <option value="Itália">Itália</option>
                                    <option value="Letônia">Letônia</option>
                                    <option value="Lituânia">Lituânia</option>
                                    <option value="Luxemburgo">Luxemburgo</option>
                                    <option value="Malta">Malta</option>
                                    <option value="Países Baixos">Países Baixos</option>
                                    <option value="Polônia">Polônia</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Romênia">Romênia</option>
                                    <option value="Suécia">Suécia</option>
                                    <option value="Albânia">Albânia</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Armênia">Armênia</option>
                                    <option value="Azerbaijão">Azerbaijão</option>
                                    <option value="Bielorrússia">Bielorrússia</option>
                                    <option value="Bósnia e Herzegovina">Bósnia e Herzegovina</option>
                                    <option value="Cazaquistão">Cazaquistão</option>
                                    <option value="Geórgia">Geórgia</option>
                                    <option value="Islândia">Islândia</option>
                                    <option value="Kosovo">Kosovo</option>
                                    <option value="Liechtenstein">Liechtenstein</option>
                                    <option value="Moldávia">Moldávia</option>
                                    <option value="Mônaco">Mônaco</option>
                                    <option value="Montenegro">Montenegro</option>
                                    <option value="Macedônia do Norte">Macedônia do Norte</option>
                                    <option value="Noruega">Noruega</option>
                                    <option value="Rússia">Rússia</option>
                                    <option value="San Marino">San Marino</option>
                                    <option value="Sérvia">Sérvia</option>
                                    <option value="Suíça">Suíça</option>
                                    <option value="Turquia">Turquia</option>
                                    <option value="Ucrânia">Ucrânia</option>
                                    <option value="Reino Unido">Reino Unido</option>
                                    <option value="Vaticano">Vaticano</option>
                                </select>
                            </div>
                            <small id="error_pais"></small>

                            <div>
                                <p>
                                    Mudar o <strong>celular:</strong>
                                    <input type="checkbox" id="checkbox-celular">
                                </p>
                                <input type="text" id="celular" name="celular" 
                                placeholder="N°/celular/Telemóvel">
                            </div>
                            <small id="error_celular"></small>

                            <div>
                                <p>
                                    Mudar a <strong>profissão:</strong>
                                    <input type="checkbox" id="checkbox-profissao">
                                </p>
                                <input type="text" id="profissao" name="profissao" 
                                placeholder="Profissão">
                            </div>
                            <small id="error_profissao"></small>

                            <div>
                                <p>
                                    Mudar a <strong>região:</strong>
                                    <input type="checkbox" id="checkbox-regiao">
                                </p>
                                <input type="text" id="regiao" name="regiao" 
                                placeholder="Região">
                            </div>
                            <small id="error_regiao"></small>

                            <div>
                                <p>
                                    Mudar o <strong>interesse:</strong>
                                    <input type="checkbox" id="checkbox-interesses">
                                </p>
                                <select name="interesses" id="interesses">
                                    <option disabled selected>Interesses</option>
                                    <option value="Relacionamento Sério">Relacionamento Sério</option>
                                    <option value="Encontros">Encontros</option>
                                    <option value="Namoros">Namoros</option>
                                    <option value="Amizades">Amizades</option>
                                    <option value="Networking e Negocios">Networking e Negócios</option>
                                    <option value="Terapias diversas">Terapias diversas</option>
                                    <option value="Profissionais em relacionamento">Profissionais em relacionamento</option>
                                    <option value="Eventos">Eventos</option>
                                </select>
                            </div>
                            <small id="error_interesses"></small>

                            <div>
                                <p>
                                    Mudar a <strong>orientação sexual:</strong>
                                    <input type="checkbox" id="checkbox-orientacao-sexual">
                                </p>
                                <select name="orientacao_sexual" id="orientacao_sexual">
                                    <option disabled selected>Orientação Sexual</option>
                                    <option value="Heterossexual">Heterossexual</option>
                                    <option value="Homossexual">Homossexual</option>
                                    <option value="Bissexual">Bissexual</option>
                                    <option value="Pansexual">Pansexual</option>
                                    <option value="Assexual">Assexual</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                            <small id="error_orientacao_sexual"></small>

                            <div>
                                <p>
                                    Mudar o <strong>estado civil:</strong>
                                    <input type="checkbox" id="checkbox-estado-civil">
                                </p>
                                <select name="estado_civil" id="estado_civil">
                                    <option disabled selected>Estado Civil</option>
                                    <option value="Solteiro">Solteiro</option>
                                    <option value="Casado">Casado</option>
                                    <option value="Divorciado">Divorciado</option>
                                    <option value="Viúvo">Viúvo</option>
                                    <option value="Separado">Separado</option>
                                    <option value="Relacionamento Sério">Relacionamento Sério</option>
                                </select>
                            </div>
                            <small id="error_estado_civil"></small>

                            <div>
                                <p>
                                    Mudar o <strong>signo:</strong>
                                    <input type="checkbox" id="checkbox-signo">
                                </p>
                                <select name="signo" id="signo">
                                    <option disabled selected>Signo</option>
                                    <option value="Áries">Áries</option>
                                    <option value="Touro">Touro</option>
                                    <option value="Gêmeos">Gêmeos</option>
                                    <option value="Câncer">Câncer</option>
                                    <option value="Leão">Leão</option>
                                    <option value="Virgem">Virgem</option>
                                    <option value="Libra">Libra</option>
                                    <option value="Escorpião">Escorpião</option>
                                    <option value="Sagitário">Sagitário</option>
                                    <option value="Capricórnio">Capricórnio</option>
                                    <option value="Aquário">Aquário</option>
                                    <option value="Peixes">Peixes</option>
                                </select>
                            </div>
                            <small id="error_signo"></small>

                            <div>
                                <p>
                                    Mudar a <strong>etnia:</strong>
                                    <input type="checkbox" id="checkbox-etnia">
                                </p>
                                <select name="etnia" id="etnia">
                                    <option disabled selected>Etnia</option>
                                    <option value="Branco">Branco</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Pardo">Pardo</option>
                                    <option value="Indígena">Indígena</option>
                                    <option value="Amarelo">Amarelo</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                            <small id="error_etnia"></small>

                            <div>
                                <p>
                                    Mudar a <strong>cor do cabelo:</strong>
                                    <input type="checkbox" id="checkbox-cor-cabelo">
                                </p>
                                <select name="cor_cabelo" id="cor_cabelo">
                                    <option disabled selected>Cor do Cabelo</option>
                                    <option value="Preto">Preto</option>
                                    <option value="Castanho">Castanho</option>
                                    <option value="Loiro">Loiro</option>
                                    <option value="Ruivo">Ruivo</option>
                                    <option value="Grisalho">Grisalho</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                            <small id="error_cor_cabelo"></small>

                            <div>
                                <p>
                                    Mudar a <strong>cor dos olhos:</strong>
                                    <input type="checkbox" id="checkbox-cor-olhos">
                                </p>
                                <select name="cor_olhos" id="cor_olhos">
                                    <option disabled selected>Cor dos Olhos</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Castanho">Castanho</option>
                                    <option value="Preto">Preto</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                            <small id="error_cor_olhos"></small>

                            <div>
                                <p>
                                    Mudar a <strong>altura:</strong>
                                    <input type="checkbox" id="checkbox-altura">
                                </p>
                                <select name="altura" id="altura">
                                    <option disabled selected>Altura</option>
                                    <option value="Abaixo de 1,50m">Abaixo de 1,50m</option>
                                    <option value="1,50m - 1,60m">1,50m - 1,60m</option>
                                    <option value="1,60m - 1,70m">1,60m - 1,70m</option>
                                    <option value="1,70m - 1,80m">1,70m - 1,80m</option>
                                    <option value="1,80m - 1,90m">1,80m - 1,90m</option>
                                    <option value="Mais de 1,90m">Mais de 1,90m</option>
                                </select>
                            </div>
                            <small id="error_altura"></small>

                            <div>
                                <p>
                                    Mudar o <strong>tipo do corpo:</strong>
                                    <input type="checkbox" id="checkbox-tipo-corpo">
                                </p>
                                <select name="tipo_corpo" id="tipo_corpo">
                                    <option disabled selected>Tipo de Corpo</option>
                                    <option value="Magro">Magro</option>
                                    <option value="Normal">Normal</option>
                                    <option value="Atlético">Atlético</option>
                                    <option value="Gordo">Gordo</option>
                                    <option value="Musculoso">Musculoso</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                            <small id="error_tipo_corpo"></small>

                            <div>
                                <p>
                                    Mudar o campo <strong>fumar:</strong>
                                    <input type="checkbox" id="checkbox-fuma">
                                </p>
                                <select name="fuma" id="fuma">
                                    <option disabled selected>Fuma?</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </div>
                            <small id="error_fuma"></small>

                            <div>
                                <p>
                                    Mudar o campo <strong>beber:</strong>
                                    <input type="checkbox" id="checkbox-bebe">
                                </p>
                                <select name="bebe" id="bebe">
                                    <option disabled selected>Bebe?</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </div>
                            <small id="error_bebe"></small>

                            <div>
                                <p>
                                    Mudar a <strong>descrição:</strong>
                                    <input type="checkbox" id="checkbox-descricao">
                                </p>
                                <p class="p-descricao" style="display: none;">
                                    0/10000 caracteres escritos
                                </p>
                                <textarea name="descricao" id="descricao" maxlength="10000"
                                cols="6" rows="5" placeholder="Fale um pouco sobre você"></textarea>
                                <small id="error_descricao"></small>
                            </div>
                            <small id="error_descricao"></small>

                            <div>
                                <p>
                                    Mudar a foto de <strong>perfil:</strong>
                                    <input type="checkbox" id="checkbox-foto">
                                </p>
                                <input type="file" name="foto" id="foto" accept="image/*">
                            </div>
                            
                            <div class="g-recaptcha" data-sitekey="{{RECAPTCHA_FRONT}}"></div>
                            <span class="loader"></span>

                            <small id="error_form"></small>

                        </section>
                        <div id="botoes">
                            <input type="submit" value="Atualizar perfil">
                            <a href="{% url 'meu_perfil' %}">
                                Voltar para meu perfil
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-bandeiras">
                <div>
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/albania.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/alderney.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/alemanha.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/andorra.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/austria.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/belgica.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/bielorrussia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/bosniaherzegovina.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/bulgaria.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/chipre.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/croacia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/dinamarca.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/escocia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/eslovaquia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/eslovenia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/espanha.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/estonia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/finlandia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/franca.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/gra-bretanha.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/grecia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/guernsey.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/holanda.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/hungria.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/ilhasaland.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/ilhasfaroe.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/inglaterra.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/irlanda.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/irlandadonorte.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/islandia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/italia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/iugoslavia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/letonia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/liechtenstein.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/lituania.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/luxemburgo.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/macedonia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/malta.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/moldavia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/monaco.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/montenegro.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/noruega.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/paisdegales.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/polonia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/portugal.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/repcheca.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/romenia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/russia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/sanmarino.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/servia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/suecia.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/suica.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/ucrania.jpg">
                    <img src="https://www.sogeografia.com.br/figuras/bandeiras/europa/mini/vaticano.jpg">
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{% static 'js/loginregistro.js' %}"></script>
    <script src="{% static 'js/alterar_dados.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Google Translate -->
    <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    } 
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
