@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    border-collapse: collapse;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    width: 100%;
    font-family: var(--fonte-paragrafos);
    background: var(--cor-branco);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fonte-titulos) !important;
}

:root{
    --cor-principal: #9152d9;
    --cor-principal-linear: linear-gradient(221.26deg, #c548ab -3.4%, #635bff 101%);
    --cor-secundaria: #d8385e;
    --cor-preto: black;
    --cor-branco: #fff;
    --cor-cinza: #343746;
    /* --fonte-titulos: 'Poppins', sans-serif; */
    --fonte-titulos: "Manrope", sans-serif;
    --fonte-paragrafos: 'Montserrat', sans-serif;
}

.sucesso, .erro, .info{
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.sucesso{
    color: var(--cor-preto);
    background: #2ff15d;
}

.erro{
    color: var(--cor-branco);
    background: #e71717;
}

.info{
    color: var(--cor-preto);
    background: #0aa2e9;
}

/* Container - Início */

.container{
    width: 100%;
    padding: 3rem 0;
}

.container>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 3rem;
    min-height: 80vh;
}

.container h1{
    text-align: center;
}

.cupidos{
    justify-content: center;
    align-items: center;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr)); */
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

.cupido{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--cor-cinza);
    border-radius: 2rem;
    max-width: 30rem;
    padding: 2rem;
    position: relative;
}

.cupido img{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

.cupido a{
    color: var(--cor-branco);
    font-weight: bold;
    transition: .3s;
}

.cupido a{
    padding: 1rem;
}

.cupido>button{
    color: var(--cor-branco);
    font-weight: bold;
    transition: .3s;
    background: var(--cor-cinza);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.cupido>button:hover{
    transform: scale(1.05);
}

.dropdown button{
    padding: 1rem;
    color: var(--cor-branco);
    font-weight: bold;
    transition: .3s;
    width: 100%;
    border: none;
    font-family: var(--fonte-titulos);
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown button:hover{
    transform: scale(1.05);
}

.cupido .dropdown{
    position: absolute;
    display: none;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    right: -22rem;
    bottom: 1rem;
    border: 0.2rem solid var(--cor-preto);
    background: var(--cor-branco);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 10000;
}

.cupido section.dropdown-desocultar{
    display: flex;
}

.cupido a.convidar-evento{
    background: var(--cor-secundaria);
}

.cupido a.convidar-video{
    background: var(--cor-cinza);
}

.cupido button.convidar-video-instantaneo, .cupido button.convidar-audio{
    background: #0d1d8b;
}

.cupido a:hover{
    transform: scale(1.05);
}

.cupido a.cupido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2rem;
    padding: 0rem;
    border: none;
    color: var(--cor-preto);
}

.cupido a.cupido img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.ntf-status{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5rem;
}

.ntf-online{
    background: green;
}

.ntf-offline{
    background: red;
}

/* Box Chamada Vídeo - Início */

.cupido div.box-chamada-video{
    position: fixed;
    padding: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    min-height: 100%;
}

.cupido div.box-convidar-video{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--cor-branco);
    width: 40rem;
    padding: 2rem;
    position: relative;
}

.cupido div.box-convidar-video h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.2rem solid var(--cor-cinza);
    width: 100%;
}

.cupido div.box-convidar-video i{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--cor-preto);
    transition: .3s;
    cursor: pointer;
}

.cupido div.box-convidar-video i:hover{
    transform: scale(1.05);
}

.cupido .box-info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cupido .box-info img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.cupido form{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 1rem;
}

.cupido form input, .cupido form textarea, .cupido form select{
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
}

.cupido form select{
    color: var(--cor-preto);
}

.cupido form textarea{
    padding: 1rem;
    resize: none;
}

.cupido form input:last-child{
    color: var(--cor-branco);
    font-weight: bold;
    transition: .3s;
    background: #0d1d8b;
    padding: 1rem;
    font-family: var(--fonte-titulos);
    font-size: 1.5rem;
    transition: .3s;
    cursor: pointer;
}

.cupido form input:hover:last-child{
    transform: scale(1.05);
}

.loader-box-convidar-video{
    display: none;
    width: 5rem;
    height: 5rem;
    border: 0.4rem solid var(--cor-preto);
    border-top: 0.4rem solid blue;
    border-radius: 50%;
    animation: rotate-loader 1s linear infinite;
}

@keyframes rotate-loader{
    100%{
        transform: rotate(360deg);
    }
}

#navegacao{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#navegacao a{
    background: var(--cor-secundaria);
    color: var(--cor-branco);
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5rem;
    transition: .3s;
}

#navegacao a:hover{
    transform: scale(1.05);
}

#navegacao a.naveg-atual{
    background: var(--cor-preto);
}

/* Box Chamada Vídeo - Fim */

/* Container - Fim */

@media(max-width: 700px){
    
    .pessoas h2{
        text-align: center;
        width: 100%;
    }

    .pessoas>div{
        flex-flow: column nowrap;
    }

}

@media(max-width: 350px){

    html{
        font-size: 50%;
    }

}