{% load static %}

<footer class="rodape">
    <div>
        <div class="coluna-rodape">
            <h3>
                Contato
            </h3>
            <a href="mailto:suporte@findbencontros.com">
                <i class="fa-solid fa-envelope"></i>
                suporte@findbencontros.com
            </a>
            <a href="https://www.gruposfindbeuropa.com/">
                <img src="{% static 'images/whatsapp.png' %}">
                Grupos em Toda Europa
            </a>
        </div>
        <div class="coluna-rodape">
            <h3>
                Termos
            </h3>
            <a href="https://www.gdprinfo.eu/pt-pt" target="_blank">
                GPDR EUROPA PORTUGAL
            </a>
            <a href="http://www.provedorapavt.com/" target="_blank">
                Informação ao abrigo da lei n°.144/2015
            </a>
            <a href="https://www.livroreclamacoes.pt/" target="_blank">
                Livro de Reclamações
            </a>
            <a href="{% static 'arquivos/politica_privacidade_findb.pdf' %}" target="_blank">
                Política de Privacidade
            </a>
            <a href="{% static 'arquivos/termos_condicoes_findb.pdf' %}" target="_blank">
                Termos e Condições
            </a>
        </div>
        <div class="coluna-rodape">
            <h3>
                Todos os Direitos Reservados
            </h3>
            <p>
                © FindB - Todos os Direitos Reservados
            </p>
            <div>
                <img src="{% static 'images/portugal.png' %}">
                <p>
                    Marca com registro em Portugal
                </p>
            </div>
            <div>
                <a href="https://www.facebook.com/findbrelacionamentos">
                    <img src="{% static 'images/facebook.png' %}">
                </a>
                <a href="https://www.instagram.com/findb.oficial/">
                    <img src="{% static 'images/instagram.png' %}">
                </a>
            </div>
        </div>
    </div>
</footer>